* {
  box-sizing: border-box;
  /* color: #000; */
  font-size: large;
}

.auth-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  padding-bottom: 50px;
  /* background: #f5f5f5; */
  /* background-color: rgba(red, green, blue, alpha); */
}

.auth-card {
  width: 100%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
}
h2{
  text-align: center;
}
.field {
  margin-bottom: 14px;
}

label {
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
  color: #000;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.password-wrap {
  position: relative;
}

.toggle {
  position: absolute;
  right: 10px;
  /* top: 50%; */
  /* transform: translateY(-50%); */
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: skyblue;
}

.submit {
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 8px;
}

.weak { color: red; }
.medium { color: orange; }
.strong { color: green; }

.switch {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
  color: #000;
}

.switch button {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
}

@media (max-width: 480px) {
  .auth-card {
    padding: 18px;
  }
}
